# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
env/
ENV/


# Secrets
.env
*.env
secrets.json
credentials.json


# Données collectées
data/
output/
*.csv
*.json
*.parquet


# Logs
logs/
*.log


# OS / Editor
.vscode/
Thumbs.db
